.cardContainer {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 8px;
  margin: 8px 0;
}

.cardEditBtn {
  position: absolute;
  right: 2px;
  bottom: 2px;
  visibility: hidden;
}

.cardContainer:focus .cardEditBtn,
.cardContainer:focus-within .cardEditBtn {
  visibility: visible;
}

.createCardContainer {
  width: 100%;
  resize: vertical;
  font-size: 1em;
}

.createCardForm {
  margin: 8px 0;
}

.createInitBtn {
  width: 100%;
  padding: 8px 0;
  background: none;
  border: none;
  text-align: left;
  font-size: 0.85em;
}

.createActionBtnContainer {
  margin-bottom: 12px;
}

.createActionBtnRow {
  display: flex;
  justify-content: space-evenly;
  margin: 4px 0;
}

.createActionBtnRow:first-child {
  margin-top: 0;
}

.createActionBtnRow > input {
  flex: 1 0 50px;
  margin: 0 8px;
  padding: 4px 0;
}

.createActionBtnRow > input:first-child {
  margin-left: 0;
}

.createActionBtnRow > input:last-child {
  margin-right: 0;
}

.deleteTaskBtn {
  color: #f44335;
  font-size: 0.85em;
}
